/*	Colors
	=========================== */
$white: #ffffff;
$black: #4D4E50;

$grey-xlight: #eee;
$grey-light: #ddd;

$accent-color: #EDF816;
$secondary-accent-color: #F44336;
$tertiary-accent-color: #2196F3;

$primaryFont: 'Open Sans', sans-serif;
// $secondaryFont: 'Raleway', sans-serif;
$secondaryFont: 'Vollkorn', serif;

/*  Break Points
    =========================== */
$min-width-sm: 768px;
$min-width-md: 992px;
$min-width-lg: 1200px;

/*  COMPONENTS
    =========================== */

/*  Header  */
$header-height: 60px;
$header-logo-width: 45px;
$nav-drawer-width: 200px;
