/*	Colors
	=========================== */
$white: #ffffff;
$black: #4D4E50;

$grey-xxlight: #fafafa;
$grey-xlight: #eee;
$grey-light: #ddd;
$grey: #999;

$accent-color: #EDF816;
$secondary-accent-color: #F44336;
$secondary-accent-color--dark: #c90707;
$tertiary-accent-color: #2196F3;

$highlight-color-blue: #2196F3;
$highlight-color-pink: #E91E63;
$highlight-color-yellow: #FFEB3B;
$highlight-color-green: #4CAF50;
$highlight-color-orange: #FF9800;
$highlight-color-purple: #9C27B0;
$highlight-bg-colors-list-1: $highlight-color-blue $highlight-color-pink $accent-color;
$highlight-colors-list-1: $white $white $black;
$highlight-bg-colors-list-2: $highlight-color-green $highlight-color-orange $highlight-color-purple;
$highlight-colors-list-2: $white $white $white;

$primaryFont: 'Open Sans', sans-serif; // 300, 300italic, 700
$secondaryFont: 'Quicksand', sans-serif; // 400, 700

/*  Break Points
    =========================== */
$min-width-sm: 768px;
$min-width-md: 992px;
$min-width-lg: 1200px;

/*  COMPONENTS
    =========================== */

/*  Header  */
$header-height: 60px;
$header-logo-width: 45px;
$nav-drawer-width: 200px;

/* Flipside */
$closed-width: 33.33%;
$closed-height: 80px;
$opened-width: 500px; // set by js on small screens
$opened-height-xxxs: 550px;
$opened-height-xxs: 480px; // from 360px screen width
$opened-height-xs: 370px; // from 520px screen width
$opened-height: 350px; // from 768px screen width

/*  Transition functions
    =========================== */
$transition-easing: cubic-bezier(0.230, 1.000, 0.320, 1.000);
$bounce-easing: cubic-bezier(0.175, 0.885, 0.320, 1.275);
