.bg-marker {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    display: none;
    width: 100%;
    height: 440px;
    margin-top: -379px;

    @include transform(translateZ(0));

    background: $accent-color;

    @include transition(top .3s ease, margin-top .3s ease);

    &:after {
        position: absolute;
        top: 0;
        left: 0;

        display: block;
        width: 100%;
        height: 100%;

        box-shadow: 0 2px 3px rgba(0,0,0,.075);

        opacity: 1;

        content: "";

        @include transition(opacity .3s ease);
    }

    @media (min-width: $min-width-sm) {
        display: block;
    }

    &.landing-page {
        top: 50%;

        margin-top: -220px;

        &:after { // box-shadow
            opacity: 0;
        }
    }
}
