.bg-marker {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: -1;

    display: none;
    width: 5000px;
    height: 550px;
    margin-top: -489px;
    margin-left: -2500px;

    @include transform(rotate(0) translateZ(0));

    background: $accent-color;

    @include transition(all .6s ease, top .3s ease .6s, margin-top .3s ease .6s);

    &:after {
        position: absolute;
        top: 0;
        left: 0;

        display: block;
        width: 100%;
        height: 100%;

        box-shadow: 0 2px 3px rgba(0,0,0,.075);

        opacity: 1;

        content: "";

        @include transition(opacity 1s ease .3s);
    }

    @media (min-width: $min-width-sm) {
        display: block;
    }

    &.landing-page {
        top: 50%;

        margin-top: -275px;

        @include transform(rotate(-50deg) translateZ(0));

        @media (min-width: $min-width-lg) {
            @include transform(rotate(-45deg) translateZ(0));
        }

        &:after { // box-shadow
            opacity: 0;
        }
    }
}
