.blog-post-preview {
    margin-bottom: 30px;
    padding: 25px 20px;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);

    background: $white;

    cursor: pointer;

    @media (min-width: $min-width-sm) {
        padding: 30px;
    }
}

.blog-post-preview__title {
    margin: 0;

    font-size: 18px;
    line-height: 22px;

    @media (min-width: $min-width-sm) {
        font-size: 22px;
        line-height: 26px;
    }
}

.blog-post-preview__meta {
    margin-bottom: 10px;

    color: $grey;
    font-size: 12px;
}

.blog-post-preview__intro {

}

.blog-post-preview__more {
    color: $grey;
    font-size: 12px;
}
