.blog-post-placeholder {
    margin-bottom: 30px;
}

.blog-post {
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);

    background: $white;

    cursor: pointer;

    overflow: visible;

    @include transition(width .3s ease, height .3s ease, top .3s ease, left .3s ease);

    @media (min-width: $min-width-sm) {
    }

    &.active {
        position: fixed;

        overflow-y: scroll;

        cursor: auto;

        &.positioned {
            padding: 75px 0 0;
        }
    }
}

.blog-post__header {
    width: 100%;
    padding: 10px 0 5px;

    background: $white;

    .blog-post.active & {
        box-shadow: 0 2px 3px rgba(0,0,0,.075);
    }

    .blog-post.positioned & {
        position: fixed;
        top: 0;
        left: 0;

        overflow-y: scroll;

        &::-webkit-scrollbar {
            opacity: 0;
        }
    }
}

.blog-post__header__title {
    margin: 0;
    padding-right: 50px;

    font-size: 18px;
    line-height: 22px;

    @media (min-width: $min-width-sm) {
        font-size: 22px;
        line-height: 26px;
    }

    & .icon {
        float: right;
        position: relative;
        top: 2px;
        left: 37px;

        padding: 0 4px;

        color: $white;
        font-size: 18px;
        line-height: 22px;

        border-radius: 2px;

        background: $black;

        visibility: hidden;
        cursor: pointer;

        .blog-post.positioned & {
            visibility: visible;
        }
    }
}

.blog-post__header__meta {
    color: $grey;
    font-size: 12px;
}

.blog-post__content {
    padding-top: 5px;

    @media (min-width: $min-width-sm) {

    }
}


.blog-post__intro {

}

.blog-post__more {
    color: $grey;
    font-size: 12px;
}
