.content {
  position: absolute;
  top: 50%;
  @include transform(translateY(-50%));

  width: 100%;

  text-align: center;
}

.content__logo {
  position: relative;

  display: inline-block;
  width: 100%;
  padding: 7% 0 7% 12%;

  background: $white url('../img/logo-backstroke.png') no-repeat center center;
  background-size: 100% auto;

  text-align: left;

  @media screen and(min-width: 825px) {
    width: 825px;
    padding: 40px 0 40px 100px;
  }

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    @include transition(left 2s cubic-bezier(1,0,.82,-0.02));

    display: block;
    width: 100%;
    height: 100%;

    background: $white;

    content: "";
  }

  &.highlighted {
    
    &:after {
      left: 105%;
    }
  }
}

.content__logo__top {
  position: relative;
  z-index: 1;

  display: block;

  font-size: 40px;
  line-height: 45px;
  text-transform: uppercase;

  @media screen and(min-width: 825px) {
    font-size: 80px;
    line-height: 90px;
  }
}

.content__logo__bottom {
  position: relative;
  z-index: 1;

  display: block;

  font-size: 28px;

  @media screen and(min-width: 825px) {
    font-size: 58px;
  }
}

.content__motto {
  display: inline-block;
  width: 100%;
  height: 22px; // placeholder for dynamic content
  margin-top: 10px;
  padding-left: 12%;
  padding-right: 5%;

  font-size: 20px;
  line-height: 22px; 
  text-align: left;

  @media screen and(min-width: 400px) {
    margin-top: 20px;
  }

  @media screen and(min-width: 825px) {
    width: 825px;
    height: 26px; // placeholder for dynamic content
    padding-left: 100px;

    font-size: 24px;
    line-height: 26px; 
  }
}