.contact-form {
    position: relative;

    margin-bottom: 50px;

    & > .contact-form__input-honeypot {
        position: absolute;

        visibility: hidden;
        opacity: 0;
    }

    .inputs-wrapper {
        position: relative;

        margin-bottom: 15px;

        font-size: 0;

        opacity: 1;

        @include transition(opacity .2s ease);

        &.col-2 {

            & .input-wrapper {
                display: inline-block;
                width: 100%;

                @media (min-width: $min-width-sm) {
                    width: 47%;
                }

                &:first-child {
                    margin-bottom: 15px;

                    @media (min-width: $min-width-sm) {
                        margin-bottom: 0;
                        margin-right: 3%;
                    }
                }

                &:nth-child(2) {

                    @media (min-width: $min-width-sm) {
                        margin-left: 3%;
                    }
                }
            }
        }
    }

    &:before {
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;

        display: block;
        width: 100%;
        height: 100%;

        opacity: 0;
        background: $grey-xxlight;

        content: "";

        @include transition(opacity .2s ease);
    }

    &.sent {

        &:before {
            opacity: 1;

            z-index: 2;
        }

        & .inputs-wrapper {
            opacity: 0;
        }
    }


    .input {
        position: relative;
        z-index: 1;

        display: block;
        // width: 100%;
        padding-top: 28px;

        vertical-align: top;

        overflow: hidden;

        & + .error-messages {
            position: absolute;
            padding: 0 5px;

            font-size: 12px;
            color: red;

            & > .input__error {
                display: none;
            }

        }

        &.js-empty {

            & .input__label {

                &:before {
                    border-top: 1px solid red;

                    background: red;
                }
            }


            & + .error-messages {

                & > .input__error:first-child {
                    display: block;
                }
            }
        }



        &.js-invalid {

            & .input__label {

                &:before {
                    border-top: 1px solid red;

                    background: red;
                }
            }

            & + .error-messages {

                & > .input__error:nth-child(2) {
                    display: block;
                }
            }
        }
    }

    .input__field {
        float: right;
        position: relative;
        z-index: 100;

        display: block;
        padding: 13px 12px 11px;
        width: 100%;
        border: none;
        border-radius: 0;
        background: transparent;

        font-family: $primaryFont;
        font-weight: 300;
        font-size: 14px;
        color: $white;
        -webkit-appearance: none; /* for box shadows to show on iOS */

        opacity: 0;

        &:focus {
            outline: none;
        }
    }

    .input__label {
        float: right;
        position: absolute;
        bottom: 0;

        display: inline-block;
        width: 100%;
        padding: 0 5px;

        color: $grey;
        font-family: $primaryFont;
        font-weight: 300;
        font-size: 14px;
        text-align: left;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        pointer-events: none;
        @include user-select(none);

        &:before {
            position: absolute;
            top: 100%;
            left: 0;

            width: 100%;
            height: 56px;
            border-top: 1px solid $grey;

            background: $grey;

            @include transform(translate3d(0, -1px, 0));
            @include transition(all .4s cubic-bezier(0.7, 0, 0.3, 1));

            content: '';
        }
    }

    .input__label-content {
        position: relative;
        @include transform-origin(0% 100%);

        display: block;
        width: 100%;
        padding: 0.8em 0 0.2em;

        @include transition(all .4s cubic-bezier(0.7, 0, 0.3, 1));
    }

    .input__field:focus,
    .js-input-filled .input__field {
        cursor: text;
        opacity: 1;
        @include transition(opacity 0s .4s);
    }

    .input__field:focus + .input__label::before,
    .js-input-filled .input__label::before {
        @include transition-delay(.05s);
        @include transform(translate3d(0, -42px, 0));
    }

    .input__field:focus + .input__label .input__label-content,
    .js-input-filled .input__label-content {
        color: $black;
        @include transform(translate3d(0, -42px, 0));
    }

    /*  Textarea overwrites */
    .input--textarea {

        & .input__field {
            resize: none;
        }

        & .input__label {

            &:before {
                height: 100px;
            }
        }

        & .input__field:focus + .input__label::before,
        &.js-input-filled .input__label::before {
            @include transform(translate3d(0, -97px, 0));
        }

        & .input__field:focus + .input__label .input__label-content,
        &.js-input-filled .input__label-content {
            @include transform(translate3d(0, -97px, 0));
        }
    }

    .input--button {
        padding-top: 0;

        text-align: right;

        @media (min-width: $min-width-sm) {
            margin-top: 96px;

            text-align: left;
        }
    }
}

.contact-form__thank-you {
    position: absolute;
    top: -10%;
    @include transform(translateY(-50%));
    z-index: 3;

    width: 100%;

    // text-align: center;

    opacity: 0;

    @include transition(top .3s ease .1s, opacity .3s ease .2s);

    .sent & {
        top: 35%;

        opacity: 1;
    }
}

.contact-form__thank-you__title {
    margin-bottom: 20px;

    font-size: 26px;
}
