.footer {
    width: 100%;

    text-align: center;

    .on-landing-page & {
        display: none;
    }
}

.footer__social {
    display: inline-block;

    font-size: 0;

    & .icon {
        position: relative;

        padding: 0 15px 5px;
        font-size: 24px;
        text-decoration: none;

        &--facebook {
            color: #3b5998;
        }

        &--twitter {
            color: #55acee;
        }

        &--linkedin {
            color: #0077b5;
        }

        &:after {
            position: absolute;
            left: 0;
            top: 6px;

            display: inline-block;
            height: 13px;
            width: 1px;

            background: $black;

            content: "";
        }

        &:first-child {

            &:after {
                display: none;
            }
        }
    }
}

.footer__content-info {
    float: right;

    display: inline-block;
    font-size: 12px;
}
