.guarantee-lists-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    margin-top: 20px;
    margin-bottom: 15px;
}

.guarantee-list {
    flex-basis: 100%;

    display: inline-block;
    margin: 0;

    @media (min-width: $min-width-sm) {
        flex-basis: 50%;
    }

    &:first-child {

        & li {
            @media (min-width: $min-width-sm) {
                padding-right: 40px;
            }
        }
    }

    & li {
        margin-bottom: 10px;
    }
}

.guarantee-list__number {
    float: left;
    position: relative;
    top: -1px;

    display: inline-block;
    width: 22px;
    height: 22px;
    border-radius: 50%;

    color: $white;
    font-size: 12px;
    line-height: 22px;
    text-align: center;

    background: $black;

    @media (min-width: $min-width-sm) {
        width: 26px;
        height: 26px;
        margin-bottom: 10px;

        line-height: 26px;
    }
}

.guarantee-list__text {
    margin: 0;
    padding-left: 35px;

    @media (min-width: $min-width-sm) {
        padding-left: 40px;
    }
}
