.header {
    padding: 15px;
}

.header__logo {
    width: 40px;
    height: 29.1094px;

    cursor: pointer;
}

.header__mobile-menu {
    float: right;

    display: inline-block;
    padding-left: 15px;

    line-height: 28px;

    cursor: pointer;
    outline: none;

    @include transition(width .3s ease);

    @media (min-width: $min-width-sm) {
        display: none;
    }

    & > span:first-child { // Menu label
        display: inline-block;
        margin-right: 10px;
    }

    & .icon {
        position: relative;
        top: 1px;
    }

    & > .icon--menu {

    }


    & > .icon--close {
        display: none;
    }

    // menu opened
    &.open {

        & > .icon--menu {
            display: none;
        }


        & > .icon--close {
            display: inline;
        }

        & + .header__nav {
            @include transform(translateX(0));
        }
    }
}

.header__nav {
    position: fixed;
    top: 60px;
    right: 0;
    z-index: 1;
    @include transform(translateX(100%));

    display: inline-block;
    height: 100%;
    width: 100%;

    text-align: center;

    background: $white;

    @include transition(all .3s ease);

    @media (min-width: $min-width-sm) {
        position: static;
        top: auto;
        right: auto;
        float: right;
        @include transform(none);

        width: auto;
        background: transparent;

        text-align: left;
    }
}

.header__nav__links-wrapper {
    position: absolute;
    top: calc(45% - 61px);
    @include transform(translateY(-50%));

    width: 100%;

    @media (min-width: $min-width-sm) {
        position: static;
        top: auto;
        @include transform(none);

        display: inline-block;
    }
}

.header__nav__link {
    display: block;
    width: 100%;

    color: $black;
    font-size: 16px;
    line-height: 50px;
    text-decoration: none;

    @media (min-width: $min-width-sm) {
        display: inline-block;
        width: auto;
        margin-right: 15px;

        line-height: 35px;
    }
}
