.header {
    padding: 15px;
}

.header__logo {
    width: 40px;
    height: 29.1094;

    cursor: pointer;
}

.header__nav {
    display: inline-block;
    float: right;
}

.header__nav__link {
    display: inline-block;
    margin-right: 15px;

    color: $black;
    line-height: 40px;
    text-decoration: none;
}
