.hero {
    position: absolute;
    top: 0;
    left: 50%;
    @include transform(translateX(-50%) translateY(-100%));

    width: 100%;
    padding: 15px;

    text-align: center;

    opacity: 0;

    @include transition(all .3s ease .6s, top .3s ease .6s, opacity .2s ease .6s);

    @media (min-width: $min-width-sm) {
        width: 90%;
        max-width: 700px;
        margin: auto;
    }

    .landing-page + & {
        top: 50%;
        @include transform(translateX(-50%) translateY(-50%));

        opacity: 1;

        @media (min-width: $min-width-md) {
            top: 50%;
        }
    }
}

.hero__title {
    position: relative;

    margin-bottom: 0;
    padding: 0;

    font-family: $secondaryFont;
    font-size: 52px;
    line-height: 56px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: left;
    white-space: nowrap;

    @media (min-width: $min-width-sm) {
        left: -10px;

        padding: 25px 0;

        font-size: 120px;
        line-height: 85px;
    }

    &:after {
        position: absolute;
        bottom: -17px;

        display: none;
        width: 12%;
        height: 1px;

        background: $black;

        content: "";

        @media (min-width: $min-width-sm) {
            display: block;
            left: 10px;
        }
    }
}

.hero__subtitle {
    margin-bottom: 15px;

    font-family: $secondaryFont;
    font-size: 17px;
    font-weight: 400;
    text-align: left;
    white-space: nowrap;

    @media (min-width: $min-width-sm) {
        margin-left: 15%;
        margin-bottom: 30px;

        font-size: 28px;
    }
}

.hero__intro {
    margin-bottom: 30px;

    line-height: 24px;
    text-align: left;

    @media (min-width: $min-width-sm) {
        margin-bottom: 40px;
        padding-right: 15px;

        font-size: 20px;
        line-height: 28px;
    }
}

.hero__buttons {
    text-align: left;
}
