<div class="page-hero">
  <div class="page-hero__content">
    <h1 class="page-hero__content__title">Highlight science writing</h1><br/>
    <h2 class="page-hero__content__subtitle">Communication for academics</h2><br/>
    <button class="page-hero__content__cta">Get in touch</button>
  </div>
</div>