<div class="page-hero">
  <div class="page-hero__content">
    <h1>Highlight science writing</h1>
    <h2>We provide communication services for academics</h2>
    <button>Get in touch</button>
  </div>
</div>