.page--about__image {
    position: relative;

    width: 300px;
    max-width: 100%;
    margin: 0 0 15px;


    @media (min-width: $min-width-sm) {
        float: right;

        margin: 5px 0 0 15px;
    }
}

.page--about__image__image {
    width: 100%;
}

.page--about__image__meta {
    position: absolute;
    top: 25px;
    left: 0;

    & > span {
        display: inline-block;
        margin-bottom: 5px;

        font-weight: 700;

        background: rgba($accent-color, .85);
    }
}

.page--about__image__meta__title {
    padding: 0 10px;

    font-size: 16px;
}

.page--about__image__meta__text {
    padding: 5px 10px;

    font-size: 11px;
    line-height: 15px;

}
