.page {
    position: relative;

    display: none;
    width: 100%;
    max-width: 850px;
    margin: 30px auto;
    padding: 0 15px;

    opacity: 0;

    @include transition(all .2s ease, opacity .1s ease);

    @media (min-width: $min-width-sm) {
        margin: 60px auto;
    }

    &.active {
        display: block;

        &--from-bottom {
            top: 200px;
        }

        &--from-left {
            @include transform(translateX(-20px) translateZ(0));
        }

        &--from-right {
            @include transform(translateX(20px) translateZ(0));
        }
    }


    &.positioned {
        top: 0;

        opacity: 1;

        @include transform(translateX(0) translateZ(0));
    }
}
