.page-section
  justify-content: center
  align-items: flex-end

  display: flex
  width: 100%
  height: 100vh
  background-repeat: no-repeat
  background-position: center
  background-size: cover
  
.page-section__content
  transform: translateY(-50%)

  width: 100%
  max-width: $screen-lg-min
  padding: 0 ($gutter-width / 2)

  color: $white
  text-shadow: 1px 1px 2px $black
  
  > h2
    font-size: 84px
  
  > h3
    font-size: 44px