<div class="page-footer">
  <div class="page-footer__content">
    <div class="page-footer__content__col">
      <div class="page-footer__content__col__slogan">
        <span>Communication services</span>
        <span>by scientists</span>
        <span>for scientists.</span>
      </div>
    </div>
    <div class="page-footer__content__col">
      <div class="page-footer__content__col__contact">
        <a href="tel:+32498636739" >+32 498 63 67 39</a><br/>
        <a href="mailto:info@highlight-science-writing.com">info@highlight-science-writing.com</a>
      </div>
    </div>
    <div class="page-footer__content__col">
      <div class="page-footer__content__col__social-media">
        <a class="page-footer__content__col__social-media__twitter" href="https://twitter.com/highlight_sw" target="_blank" rel="noreferrer noopener">
          @highlight_sw
        </a>
      </div>
    </div>
    <div class="page-footer__content__footer">
      <span>&copy;
        <time id="copyright">
          <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
        </time>&nbsp;
        Highlight Science Writing
      </span>
    </div>
  </div>
</div>