.page-header
  height: $page-header-height
  padding: 0 $spacing

  line-height: $page-header-height

.page-header__link
  height: "calc(100% - %s)" % ($spacing * 2)
  margin: $spacing 0
  padding: 0 ($spacing * 2)
  
  color: $text-color
  font-size: 14px
  line-height: $page-header-height - ($spacing * 2)