/*  Layout
    ====================================================================== */
$gutter-width ?= 30px
$spacing ?= 6px

/*  Typography
    ====================================================================== */
$font-family-primary ?= Quicksand, sans-serif
$font-size-base ?= 16px
$line-height-base = 1.428571429
$font-weight-regular ?= 400
$font-weight-bold ?= 700

/*  Colours
    ====================================================================== */
$primary-color ?= #007bff
$primary-light-color ?= #26b8d7
$accent-color ?= #FF4081

$white ?= #fff

$grey-base ?= #000
$grey-xdark ?= #222
$grey-dark ?= #333
$grey ?= #555
$grey-light ?= #777
$grey-xlight ?= #ddd

$text-color ?= $grey-dark
$link-color ?= $primary-color

$contrast-color ?= $grey-xlight
$danger-color ?= #dc3545
$success-color ?= #28a745

$twitter-brand-color ?= #1da1f2

/*  Screen Breakpoints
    =========================================== */
$screen-xxxs-min ?= 0px
$screen-xxs-min ?= 375px
$screen-xs-min ?= 480px
$screen-sm-min ?= 768px
$screen-md-min ?= 992px
$screen-lg-min ?= 1200px
$screen-xlg-min ?= 1366px

$screen-xxs-max ?= ($screen-xs-min - 1)
$screen-xs-max ?= ($screen-sm-min - 1)
$screen-sm-max ?= ($screen-md-min - 1)
$screen-md-max ?= ($screen-lg-min - 1)
$screen-lg-max ?= ($screen-xlg-min - 1)

/*  Components
    =========================================== */
$page-header-height ?= 46px
