html
  box-sizing: border-box

*, *:before,
*:after
  box-sizing: border-box

body
  color: $text-color
  font-family: $font-family-primary
  font-size: $font-size-base
  line-height: $line-height-base
  font-weight: $font-weight-regular
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  
a
  text-decoration: none

strong
  font-weight: $font-weight-bold

button
  background: transparent
  border: 0
  box-shadow: none

  font-family: $font-family-primary
  font-size: $font-size-base
  line-height: $line-height-base
  font-weight: $font-weight-regular
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

  outline: none