/*  CLEARFIX
    ======================================== */
.clearfix
  display: inline-block

  &:after
    visibility: hidden
    display: block
    font-size: 0
    content: " "
    clear: both
    height: 0

/*  COLOURS
    ======================================== */
.bg-primary
  background-color: $primary-color

.bg-primary-light
  background-color: $primary-light-color

.bg-accent
  background-color: $accent-color

.bg-grey-xlight
  background-color: $grey-xlight

/*  BOX SHADOWS
    ======================================== */
.z-depth-2
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)

.z-depth-1
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)

/*  MISCELLANEOUS
    ======================================== */
.ellipsis
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

/*  Hide
    ======================================== */
.hide-on-xxs-max
  
  @media screen and (max-width: $screen-xxs-max)
    display: none