.container
  max-width: 1340px
  margin: auto
  padding: 0 ($gutter-width / 2)

.section
  padding: ($gutter-width / 2) 0

  &--contrast
    background-color: $contrast-color

  &--accent
    color: $white

    background-color: $accent-color
  
  &--primary-light
    color: $white

    background-color: $primary-light-color
  
  &--primary
    color: $white

    background-color: $primary-color

.center-align
  text-align: center