html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Quicksand', sans-serif;
	background: $white;
  opacity: 1;
  @include transition(opacity 1s ease-in);

  max-width: 100%;

  overflow-x: hidden;

  &.hidden {
    opacity: 0;
  }
}