html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  max-width: 100%;

  font-size: 16px;
  color: $black;
  font-family: $primaryFont;
  font-weight: 400;

  background: $white;

  overflow: hidden;
}

i {
  font-style: italic;
}

strong {
  font-weight: 700;
}

button {
  background: none;

  cursor: pointer;
  outline: none;
  @include user-select(none);
}
