html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

html {
    height: 100%;
}

body {
    max-width: 100%;
    min-height: 100%;

    font-size: 14px;
    line-height: 22px;
    color: $black;
    font-family: $primaryFont;
    font-weight: 300;

    background: $grey-xxlight;

    overflow-x: hidden;

    @include perspective(1000px);

    @media (min-width: $min-width-sm) {
        font-size: 16px;
        line-height: 24px;
    }

    &.on-landing-page {
        overflow: hidden;
    }
}

h1 {
    margin-bottom: 25px;

    font-size: 30px;
    line-height: 34px;
    font-weight: 700;
    text-transform: uppercase;

    @media (min-width: $min-width-sm) {
        margin-bottom: 30px;

        font-size: 40px;
        line-height: 44px;
    }
}

h2 {
    margin-bottom: 15px;

    font-size: 18px;
    line-height: 28px;
    font-weight: 700;

    p + &, form + & {
        margin-top: 35px;
    }
}

p, ul {
    margin-bottom: 15px;
}

a {
    color: $black;
    text-decoration: underline;

    cursor: pointer;
}

i {
    font-style: italic;
}

strong {
    font-weight: 700;
}

button {
    border: 0;

    background-color: transparent;

    font-size: 14px;
    font-weight: 300;

    cursor: pointer;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba( 0, 0, 0, 0 );
    @include user-select(none);

    &:focus {
        outline: 0;
    }
}
